body{
   font-family: Montserrat;
   margin: 0;
}
h1{
    font-size: 42px;
    color: #575757;
}
.primary-color{
    color: orange;
}
p{
    color: #828282;
    text-align: justify;
}
.flaxiable-continer{
    display: flex;
}
.helf-width{
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
}
.helf-width-img{
    padding-top: 5%;
    padding-right: 5%;
}
.link-button{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 30px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
}
.top-section{
    background-image: url(images/shapes/Frame\ 57-01.png);
    background-repeat: no-repeat;
    width: 100%;
}
.helf-width-img-person{
    padding-left: 15%;
    padding-top: 5%;
}
.helf-width-mid{
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.middle-section{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.recipie-tag{
    padding-top: 5%;
}
.bottom-headline{
    text-align: center;
}
.bottom-text{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.section-items{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.third-one{
    margin-right: 50px;
    display: block;
    padding: 2%;
    width: 30%;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.63);
}
.third-one-helf{
    height: 50%;
}
.third-one-helf-img{
    width: 50%;
    height: 50%;
}
.third-one-last{
    padding: 2%;
    border-radius: 20px;
    background-color: antiquewhite;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.63);
    display: block;
    width: 30%;
}
.social-link{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgba(200, 255, 237, 0.856);
}
.youtube{
    padding: 4%;
    text-align: center;
}
.instagram{
    padding: 4%;
    text-align: center;
}
.dribbble{
    padding: 4%;
    text-align: center;
}